
.vs/Dobre_Lucia_Corina_proiect/FileContentIndex/eae3409e-10f5-4d13-8d7c-036071be5a2f.vsidx
.vs/Dobre_Lucia_Corina_proiect/FileContentIndex/ea7dc78a-7e2f-4d06-b065-7dfad8c6a9fd.vsidx
.vs/Dobre_Lucia_Corina_proiect/FileContentIndex/46f31660-6548-4bb2-a8dd-4ab30499bc0e.vsidx
.vs/Dobre_Lucia_Corina_proiect/FileContentIndex/46753519-9774-41b8-afbb-2c2b06a7caeb.vsidx
*.vsidx
